.login_bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  display: block;
  color: #f4f4f4;
  padding: 70px 20px;
  height: 746px;
  background-image: url("../../assets/loginImg.png");
}

/* Media query for devices with a maximum width of 767px (e.g., smartphones) */
@media only screen and (max-width: 425px) {
  .login_bg {
    height: 171px;
  }
}

/* Media query for devices with a minimum width of 768px and a maximum width of 1023px (e.g., tablets) */
@media only screen and (min-width: 426px) and (max-width: 767px) {
  .login_bg {
    height: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}

/* Media query for devices with a minimum width of 1024px (e.g., desktops) */
@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
}
