
/* Featured Artists Start */

.artist {
    padding: 53px 112px;
    border-radius: 40px;
    background: #131619;
    overflow: hidden;
}

.artist .proImg,
.artist .proImg img {
    width: 130px;
    height: 130px;
    border-radius: 50%;

}

.artist .proImg img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.profileInner a img {
    opacity: .9;
    transition: 0.4s ease-in-out;
}

.profileInner a img:hover {
    opacity: 1;
}


.artist p,
.viewProfile {
    color: #FFF;
    font-family: var(--bak);
    font-size: 15px;
    font-weight: 400;
    transition: 0.4s ease-in-out;
}

.viewProfile {
    border-radius: 15px !important;
    background: #000 !important;
    padding: 8px 18px;
    transition: 0.4s ease-in-out;
}

.viewProfile:hover {
    opacity: .9;
    background-color: #292e32 !important;
}

/* Featured Artists End*/
