
/* Profile Page Start */

.cover_photo {
    height: 300px;
    border-radius: 10px;
}

.profile_photo,
.profile_photo img {
    width: 125px;
    height: 125px;
    border-radius: 125px;
}

.coverImg {
    position: relative;
    margin-bottom: 23px;
}

.coverImg button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.profile_photo {
    position: absolute;
    left: -59px;
    bottom: -85px;
}

.profileDetail {
    padding-left: 114px;
    margin-bottom: 85px;
}

.profileDetail span {
    color: #939393;
    font-size: 15px;
}

.update_follower {
    padding: 14px 24px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.20);
}

.update_follower p,
.update_follower p span {
    font-size: 12px;
}

.profileDetail button {
    padding: 9px 25px;
    border-radius: 10px;
    background: #CCC;
    color: #4E4E4E;
    font-size: 12px;
    transition: 0.4s ease-in-out;
}

.profileDetail button:hover {
    background: #e0e0e0;
}

.profileDetail .msgBtn {
    padding: 6px 11px;
}

.share img {
    transition: 0.4s ease-in-out;
    opacity: .85;
}

.share img:hover {
    opacity: 1;
}

.shareProfile {
    padding: 5px 20px 20px 20px;
    border-radius: 10px;
    background: #090A0C;
}

.shareProfile p {
    font-size: 15px;
}

.shareProfile button {
    padding: unset;
    background: unset;
    white-space: nowrap;
    color: #FFF;
    font-family: var(--lato);
    font-size: 10px;
    font-weight: 400;
    opacity: .75;
    transition: 0.4s ease-in-out;
}

.shareProfile button:hover {
    opacity: 1;
    background: unset;
}

.followBtn {
    position: relative;

}

.followBtn .shareProfile {
    position: absolute;
    top: 50px;
    left: -156px;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.followBtn:hover .shareProfile {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #2D2D2D;
}

.modalClose {
    background: unset !important;
}

.msgModal {
    padding: 0 30px 30px;
}

.msgModal h4 {
    font-size: 20px;
}

.msgModal p {
    color: #939393;
    font-size: 12px;
}

.msgModal form label {
    font-size: 15px;
    display: block;
}

.msgModal form textarea {
    border-radius: 10px;
    background: #202020;
    padding: 8px 13px;
    font-size: 12px;
    font-family: var(--bak);
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    width: 100%;
    border-color: transparent;
    margin-bottom: 16px;
}

.msgModal form textarea::placeholder {
    color: #5B5B5B;
    font-size: 12px;
    font-family: var(--bak);
    font-weight: 400;
}

.msgModal form .sendBtn{
    padding: 10px 40px;
    border-radius: 10px;
    background: #FFF;
    color: #202020;
    font-size: 12px;
    width: 158px;
    white-space: nowrap;
}

.msgModal form .cancleBtn {
    background: #202020;
    padding: 10px 40px;
    border-radius: 10px;
    color: #FFF;
    width: 158px;
}

.ownWall {
    width: 252px !important;
    height: 138px !important;
}


/* Profile Page End */