.about-container {
  margin: 0 auto;
}

.about-container .about-title {
  color: #fff;
  font-family: Bakbak One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.about-container .about-content h1 {
  color: #fff;
  font-family: Bakbak One;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-content {
  color: #fff;
  font-family: Bakbak One;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-container .about-content h6 {
  color: #ff006b;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 50px 0;
}

.about-container .about-content p {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
}

.wps-title {
  color: #fff;
  font-family: Bakbak One;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

/* Responsive Design for Small Screens (Mobile Devices) */
@media only screen and (max-width: 767px) {
  .about-container .about-content h1 {
    font-size: 40px;
  }

  .about-container .about-content h6 {
    font-size: 16px;
    margin: 20px 0;
  }

  .about-container .about-content p {
    font-size: 14px;
    font-weight: 400;
  }
  .about-container .about-img {
    height: 299px;
  }
}

/* Responsive Design for Medium Screens (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Responsive Design for Large Screens (Desktops) */
@media only screen and (min-width: 1024px) {
}
