.account-verify-container .title {
  color: #fff;
  font-family: Bakbak One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.account-verify-container .account-verify-form-section {
  border-radius: 10px;
  background: hsla(0, 0%, 0%, 0.158);
}

.account-verify-form-section h2 {
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account-verify-form-section p {
  color: #939393;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* account-verify-tab-container */
.account-verify-tab-container {
  width: 137px;
  height: 45px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.account-verify-tab-container .btn-active {
  width: 65px;
  height: 33px;
  border-radius: 100px;
  background: #0ab745;
}

.account-verify-tab-container button {
  color: #fff !important;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 65px;
  height: 33px;
}

.account-verify-input {
  height: 43px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  color: #939393;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account-verify-img-input {
  max-width: 563px;
  min-height: 138px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.ac-verify-brand-tab-p {
  color: #939393;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account-verify-img-input h1 {
  color: #fff;
  font-family: Bakbak One;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account-verify-img-input button {
  color: #939393;
  font-family: Bakbak One;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  opacity: 0.5;
  background: #000;
  width: 103px;
  height: 28px;
}

.account-verify-submit-btn {
  width: 129px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #2924ff;
  color: #c4c4c4;
  font-family: Bakbak One;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account-verify-thank {
  color: #fff;
  text-align: center;
  font-family: Bakbak One;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 725px;
  flex-shrink: 0;
}
