.cmr-container .cmr-title {
  color: #fff;
  font-family: Bakbak One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.cmr-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.cmr-img-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.178) 0%,
    rgba(0, 0, 0, 0.219) 100%
  );
}

.cmr-content-container span {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cmr-content-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.cmr-content-container ul li::before {
  content: "\2022";
  color: #ffffff;
  margin-right: 5px;
}

.cmr-content-categories p {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cmr-content-categories {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.cmr-content-categories ul li::before {
  content: "\2022";
  color: #ffffff;
  margin-right: 5px;
}
