@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:wght@100;300;400;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --bak: "Bakbak One", cursive;
  --lato: "Lato", sans-serif;
  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202529;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  background: transparent;
}

:focus-visible {
  outline: none;
}

.container {
  max-width: 1596px;
}

.custom_Container {
  max-width: 1800px;
}

.auth_Container {
  max-width: 1090px;
  position: relative;
  z-index: 9999999;
}

.search_Container {
  max-width: 1756px;
  margin: 0 auto;
}

.mt_85 {
  margin-top: 85px;
}

.all_mb {
  margin-bottom: 50px;
}

.fontBak {
  font-family: var(--bak);
  font-weight: 400;
  color: #fff;
}

.lgFont,
.lgFont button {
  font-size: 15px !important;
}

h2 {
  color: #fff;
  font-family: var(--bak);
  font-weight: 400;
  text-align: center;
  font-size: 35px;
}

h3 {
  color: #939393;
  font-family: var(--bak);
  font-weight: 400;
  text-align: center;
  font-size: 30px;
}

hr {
  color: #5a5a5a;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(51, 51, 51);
}

::-webkit-scrollbar-thumb {
  background-color: #202529;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #939393;
}

.bgShadowTop,
.sideBar {
  position: relative;
  z-index: 99999;
}

.mainPosition {
  position: relative;
  z-index: 999999;
}

.opacity-0 {
  opacity: 0;
}

.title {
  color: #fff;
  font-family: Bakbak One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

/* global */
.td-tab-container h1 {
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.td-tab-container {
  width: 189px;
  height: 45px !important;
  max-height: 45px !important;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
}

.td-tab-container button {
  width: 74px;
  height: 33px;
  border-radius: 100px;
  color: #fff !important;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.td-tab-tab-container .td-tab-active-btn {
  width: 74px;
  height: 33px;
  border-radius: 100px;
  background: #dd2e44;
}

.td-tab-container .td-tab-dactive-btn {
  width: 74px;
  height: 33px;
  border-radius: 100px;
}

.td-tab-btn-bg-visible {
  background-color: #0ab745 !important;
}
.td-tab-btn-bg-hide {
  background-color: #ff003d !important;
}

/* Media query for devices with a maximum width of 767px (e.g., smartphones) */
@media only screen and (max-width: 767px) {
  .sw-full {
    width: 100% !important;
  }
}

/* Media query for devices with a minimum width of 768px and a maximum width of 1023px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sw-full {
    width: 100% !important;
  }
}

/* Media query for devices with a minimum width of 1024px (e.g., desktops) */
@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
}
