/* Trending Start */
.trending {
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.2);
  padding: 24px;
  position: relative;
  z-index: 8;
}

.trendingHeader {
  gap: 50px;
  margin-bottom: 20px;
}

.allBtn {
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.2);
  padding: 4px;
}

.allBtn button {
  padding: 10px 25px;
  background: none;
  border-radius: 23.5px;
  color: #fff;
  font-family: Lato !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btnCustom button {
  padding: 10px 12px !important;
}

.allBtnActive {
  background: rgba(0, 0, 0, 0.7) !important;
}

.allBtn button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.tredImg {
  overflow: hidden;
  border-radius: 15px;
}

.trendingInner img {
  height: 190px !important;
}

.tredImg img {
  border-radius: 15px;
  transition: 0.4s ease-in-out;
  max-width: 360px;
  height: 190px !important;
}

.featuredImage {
  border-radius: 15px;
  transition: 0.4s ease-in-out;
  width: 100%;
  height: 279px;
}

.tredImg img:hover,
.staff img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.moreBtn {
  display: block;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #949494;
  font-family: var(--lato);
  font-size: 15px;
  font-weight: 700;
  transition: 0.4s ease-in-out;
  padding: 15px 30px;
  border-radius: 30px;
}

.moreBtn:hover {
  color: #f4f4f4;
}

.wallpaper-title {
  color: #fff;
  font-family: Bakbak One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first-img {
  border-radius: 15px;
}
.second-img {
  border-radius: 15px;
}

.staff {
  /* width: 100%; */
  border-radius: 30px;
  overflow: hidden;
  height: fit-content;
}

.staff img {
  border-radius: 30px;
  transition: 0.4s ease-in-out;
  width: 100%;
}
/* Trending End */

/* Media query for devices with a maximum width of 767px (e.g., smartphones) */
@media only screen and (max-width: 767px) {
  .trending {
    border-radius: 10px;
    padding: 10px;
  }
  .trendingHeader {
    gap: 10px;
  }
  .tredImg img {
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    height: 152px;
    object-fit: cover;
  }

  .first-img,
  .second-img {
    width: 198px;
    height: 86px !important;
    border-radius: 5px;
  }
  .staff {
    /* width: 100%; */
    border-radius: 5px;
    overflow: hidden;
  }
  .staff img {
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    width: 100%;
  }
  .featuredImage {
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    max-height: 131px;
    object-fit: cover;
  }
}

/* Media query for devices with a minimum width of 768px and a maximum width of 1023px (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}

/* Media query for devices with a minimum width of 1024px (e.g., desktops) */
@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
}
